.symbol:nth-child(1){
  opacity: .2;
  animation: shine 4s ease-in-out 3s infinite
}

.symbol:nth-child(1)::before, .symbol:nth-child(1)::after {
  content: '';
  width: 12px;
  height: 4px;
  background: var(--white);
  position: absolute;
  border-radius: 5px;
  bottom: 65px;
  left: 0;
}

.symbol:nth-child(1)::before {
  transform: rotate(45deg);
}

.symbol:nth-child(1)::after {
  transform: rotate(-45deg);
}

.symbol:nth-child(2) {
  position: absolute;
  left: -5px;
  top: 30px;
  height: 18px;
  width: 18px;
  border: 4px solid;
  border-radius: 50%;
  border-color: var(--white);
  opacity: .2;
  animation: shine 4s ease-in-out 1.3s infinite;
}

.symbol:nth-child(3) {
  opacity: .2;
  animation: shine 3s ease-in-out .5s infinite;
}

.symbol:nth-child(3):before, .symbol:nth-child(3):after {
  content: '';
  width: 12px;
  height: 4px;
  background: var(--white);
  position: absolute;
  border-radius: 5px;
  top: 5px;
  left: 40px;
}
.symbol:nth-child(3):before {
  transform: rotate(90deg);
}
.symbol:nth-child(3):after {
  transform: rotate(180deg);
}

.symbol:nth-child(4) {
  opacity: .2;
  animation: shine 6s ease-in-out 1.6s infinite;
}

.symbol:nth-child(4):before, .symbol:nth-child(4):after {
    content: '';
    width: 15px;
    height: 4px;
    background: var(--white);
    position: absolute;
    border-radius: 5px;
    top: 10px;
    right: 30px;
}
  .symbol:nth-child(4):before {
    transform: rotate(45deg);
  }
  .symbol:nth-child(4):after {
    transform: rotate(-45deg);
  }
.symbol:nth-child(5) {
  position: absolute;
  right: 5px;
  top: 40px;
  height: 12px;
  width: 12px;
  border: 3px solid;
  border-radius: 50%;
  border-color: var(--white);
  opacity: .2;
  animation: shine 1.7s ease-in-out 7s infinite;
}
.symbol:nth-child(6) {
  opacity: .2;
  animation: shine 2s ease-in-out 6s infinite;
}

.symbol:nth-child(6):before, .symbol:nth-child(6):after {
  content: '';
  width: 15px;
  height: 4px;
  background: var(--white);
  position: absolute;
  border-radius: 5px;
  bottom: 65px;
  right: -5px;
}
.symbol:nth-child(6):before {
  transform: rotate(90deg);
}
.symbol:nth-child(6):after {
  transform: rotate(180deg);
}

.box_button {
  display: block;
  position: relative;
  background: var(--pink);
  border: 1px solid transparent;
  border-radius: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  color: var(--white);
  line-height: 50px;
  font-size: 18px;
  padding: 0 70px;
  white-space: nowrap;
  margin-top: 25px;
  transition: background .5s ease;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  mask-image: radial-gradient(white, black);
}

.box_button:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 100px;
  background: var(--white);
  bottom: -25px;
  left: 0;
  border: 2px solid var(--white);
  transform: translateX(-50px) rotate(45deg);
  transition: transform .5s ease;
}

.box_button::before:hover {
  background: transparent;
  border-color: var(--white);
}

.box_button::before:hover::before {
  transform: translateX(250px) rotate(45deg);
}

@keyframes shine {
  0% {
    opacity: .2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}
